h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}
table.center {
  margin-left:auto;
  margin-right:auto;
}
body.background {
  background: linear-gradient(to bottom, #F5F5DC 85%, #CCFFFF 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
