{% extends 'base.html' %}

{% block title %}
Contact List
{% endblock %}

{% block content %}
<h2>Contact List</h2>
<p><a href="{% url 'home' %}">Back to Home</a></p>
<p><a href="{% url 'add_contact' %}">Add new contact</a></p>
<form action="{% url 'contact_list' %}" method="GET">
  {% csrf_token %}
  <p>
    {{ form }}
    <input type="submit" value="Submit">
  </p>
</form>
<p>
    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
      &nbsp<a href="{% url 'contact_list_letter' letter=letter %}" class="btn">{{ letter }}</a>
    {% endfor %}
    &nbsp<a href="{% url 'contact_list' %}" class="btn">All</a>
</p>
<h3>Click on the Contact Name to view more details.</h3>
{% for contact in object_list %}
  <p><a href="{% url 'view_contact' pk=contact.pk %}">{{ contact }}</a></p>
{% endfor %}
{% endblock %}
