{% extends 'base.html' %}

{% block title %}
Contact Details
{% endblock %}

{% block content %}
<h2>{{ object }} Details</h2>
<table class="center">
  <tr>
    <td><b>First Name: </b></td>
    <td>{{ object.first_name }}</td>
  </tr>
  <tr>
    <td><b>Last Name: </b></td>
    <td>{{ object.last_name }}</td>
  </tr>
  <tr>
    <td><b>Phone: </b></td>
    <td>{{ object.phone_number }}</td>
  </tr>
  <tr>
    <td><b>Email: </b></td>
    <td>{{ object.email_address }}</td>
  </tr>
  <tr>
    <td><b>Street Address: </b></td>
    <td>{{ object.street_address }}</td>
  </tr>
</table>
<p><a href="{% url 'delete_contact' pk=object.pk %}">Delete Contact</a></p>
<p><a href="{% url 'contact_list' %}">Back to Contact List</a></p>
{% endblock %}
